@media (max-width: 991px) {
    .promo {
        min-height: 450px;
        padding: 21px 20px 68px 20px;
        background-position-x: 25%;
        &__wrapper {
            margin-top: 80px;
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            margin-top: 12px;
            font-size: 21.1px;
        }
        &__icons {
            width: 374px;
            margin-top: 50px;
        }
        &__link {
            margin-top: 12px;
            font-size: 14px;
        }    
    }
    .button_main {
        width: 250px;
        height: 40px;
        font-size: 13px;
        margin-top: 55px;
    }
}